@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Questrial&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-image: url('./img/new-year.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-weight: 800;
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

/* Add a dark overlay */
body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

body * {
  z-index: 1;
}

h1 {
  font-size: 60px;
}

.countdown {
  /* display: flex; */
  display: none;
  transform: scale(2);
}

.year {
  font-size: 200px;
  z-index: -1;
  opacity: 0.8;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px;
}

.loading {
  z-index: -1;
  height: 65px;
}

@media(max-width: 500px) {
  h1 {
    font-size: 45px;
  }

  .time {
    margin: 5px;
  }

  .time h2 {
    font-size: 12px;
    margin: 0;
  }

  .time small {
    font-size: 10px;
  }
}